/**
 * Custom style for EBLC Plugin
 */

/* Broken link talbe style */
.wp-list-table a { 
	text-decoration: none; 
}
.column-status { 
	width: 10%; 
}
.column-url { 
	width: 15%;
	overflow: hidden; 
	text-overflow: ellipsis; 
	/*white-space: nowrap; */
}
.column-link_text { 
	/*width: 20%; */
	overflow: hidden; 
	text-overflow: ellipsis; 
	/*white-space: nowrap; */
}
.column-link_type {
	width: 10%; 
}
.column-source { 
	width: 30%; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
}

#eblc-edit-url-row .eblc-inline-editor-content {
	max-width: 500px;
}

#eblc-edit-url-row .eblc-inline-editor-content label {
	display: block;
	font-weight: 500;
}

#eblc-edit-url-row .eblc-inline-editor-content .title {
	display: block; 
	float: left; 
	width: 6em; 
	line-height: 1.8em;
}

#eblc-edit-url-row .eblc-inline-editor-content .eblc-input-text-wrap {
	display: block; 
	margin-left: 6em;
}

#eblc-edit-url-row .eblc-inline-editor-content .eblc-link-text-field {
	width: 100%;
}

#eblc-edit-url-row .eblc-inline-editor-content .eblc-link-url-field {
	width: 100%;
}

#eblc-edit-url-row .eblc-inline-editor-content .eblc-inline-editor-buttons {
	clear: both; 
	margin: 0.5em 0 0; 
	padding: 0.5em;
}

#eblc-edit-url-row .eblc-inline-editor-content .link_type_dofollow {
	margin: 0px 0px 0px;
}

#eblc-edit-url-row .eblc-inline-editor-content .link_type_nofollow {
	margin: 0px 0px 0px 15px;
}

#eblc-edit-url-row .eblc-inline-editor-content .link_target_openinnewwindow {
	margin: 0px 0px 0px 15px;
}


/* auto links table */
#eblc-edit-auto-link-row .eblc-inline-editor-content {
	max-width: 500px;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content label {
	display: block;
	font-weight: 500;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content .title {
	display: block; 
	float: left; 
	width: 6em; 
	line-height: 1.8em;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content .eblc-input-text-wrap {
	display: block; 
	margin-left: 6em;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content .eblc-autolinking-anchor-text {
	width: 100%;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content .eblc-autolinking-target-url {
	width: 100%;
}

#eblc-edit-auto-link-row .eblc-inline-editor-content .eblc-inline-editor-buttons {
	clear: both; 
	margin: 0.5em 0 0; 
	padding: 0.5em;
}

/* shorten url table */
#eblc-edit-shorten-url-row .eblc-inline-editor-content {
	max-width: 500px;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content label {
	display: block;
	font-weight: 500;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content .title {
	display: block; 
	float: left; 
	width: 6em; 
	line-height: 1.8em;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content .eblc-input-text-wrap {
	display: block; 
	margin-left: 6em;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content .eblc-shorten-target-url {
	width: 100%;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content .eblc-shorten-url {
	width: 100%;
}

#eblc-edit-shorten-url-row .eblc-inline-editor-content .eblc-inline-editor-buttons {
	clear: both; 
	margin: 0.5em 0 0; 
	padding: 0.5em;
}

/* redirection url table */
#eblc-edit-redirection-url-row .eblc-inline-editor-content {
	max-width: 500px;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content label {
	display: block;
	font-weight: 500;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .title {
	display: block; 
	float: left; 
	width: 6em; 
	line-height: 1.8em;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .eblc-input-text-wrap {
	display: block; 
	margin-left: 6em;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .eblc-redirection-source-url {
	width: 100%;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .eblc-redirection-target-url {
	width: 100%;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .eblc-redirection-type {
	width: 100%;
}

#eblc-edit-redirection-url-row .eblc-inline-editor-content .eblc-inline-editor-buttons {
	clear: both; 
	margin: 0.5em 0 0; 
	padding: 0.5em;
}

/**
 * Broken link opeion page style
 */
.eblc_check_options .nav-tabs a { 
	font-weight: 600; 
}
.eblc_options_contents { 
	border-left: 1px solid lightgray; 
	border-right: 1px solid lightgray; 
	border-bottom: 1px solid lightgray; 
	padding: 10px; 
}
.eblc_options_contents .eblc_form_table { 
	width: 100%; 
}
.eblc_options_contents .eblc_form_table th {	
	width: 25%;	min-width: 110px; 
	max-width: 200px;	
	padding: 20px 10px 20px 0; 
	font-weight: 500; 
}
.eblc_options_contents .eblc_form_table td { 
	padding: 20px 10px 20px 0; 
}

.eblc_options_contents .eblc_auto_linking_option { 
	width: 100%; 
}
.eblc_options_contents .eblc_auto_linking_option th {	
	width: 25%;	min-width: 110px; 
	max-width: 200px;	
	padding: 20px 10px 20px 0; 
	font-weight: 500; 
}
.eblc_options_contents .eblc_auto_linking_option td { 
	padding: 20px 10px 20px 0; 
}
.eblc_options_contents label { 
	font-weight: 500; 
}
.eblc-page-title { 
	font-size: 22px; 
	margin-bottom: 25px;
	padding-left: 15px;
}

#eblc_redirection th {
	padding: 0px;
}

#eblc_redirection td {
	padding: 0px;
}


#eblc_security_others th {
	padding: 0px;
}

#eblc_security_others td {
	padding: 0px;
}

#eblc_general th {
	padding: 5px;
}

#eblc_general td {
	padding: 5px;
}